.annotation-list {
	padding: 0px;
  	width: 100%;
	color:white;
	font-size:10px;
	border: 1px solid gray;
}

.annotation-list div{
  padding:5px;
  margin:0px 0px 0px 0px;
  border: 1px solid gray;
}

.annotation-list div:hover {
	outline: solid white;
	outline-width:1px;
}