body {
	padding: 0;
	margin: 0;
}

.annotation-list {
	padding: 0;
	margin: 0;
	font-size: var(--vscode-font-size);
	color: var(--vscode-foreground);
}

.annotation-list .annotation {
  padding: 0.50em 1.0em;
	margin: 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
	line-height: 1.2em;
}

.annotation-list .annotation-list:last-child {
	border-bottom: 0;
}

.annotation-list .annotation:hover {
	background-color: var(--vscode-editor-hoverHighlightBackground);
}

.annotation-selected {
	background-color: var(--vscode-list-activeSelectionBackground);
	border-color: var(--vscode-editor-lineHighlightBorder);
}

.annotation .line-number {
	text-transform: uppercase;
	padding: 0 0 0.25em 0.25em;
	float: right;
	color: var(--vscode-editorCodeLens-foreground);
}

.annotation .line-number label {
	padding: 0 0.25em 0 0;
}
